
/* Slots */
.itemSlot {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;

}

.itemSlot:hover {
    /*-fx-background-color: rgba(0, 255, 255, 0.3);*/
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

/* Item list */

.itemList > .viewport {
    -fx-background-color: transparent;
}

.itemList {
    -fx-background-color: transparent;
}

.itemListSearchBar {
    -fx-text-fill: white;
    -fx-prompt-text: white;
    -fx-highlight-fill: white;
    -fx-highlight-text-fill: blue;
    -fx-display-caret: true;
    
    -fx-background-color: rgba(100, 100, 100, 0.5);
    -fx-border-style: none;
}

.itemListSearchBar:focused {
}
