
/* Slots */
.itemSlot {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;

}

.itemSlot:hover {
    -fx-background-color: rgba(255, 255, 255, 0.4);
}

/* Item list */

.itemList > .viewport {
    -fx-background-color: transparent;
}

.itemList {
    -fx-background-color: transparent;
}
